@charset "UTF-8";
footer {
  background-color: #2c3f46;
  width: 100%;
  margin: 0;
  padding: 0;
}
footer h1 {
  margin: 0;
}

header {
  background-color: darkslategrey;
}

.bienvenida {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/mariano_moreno.png");
  background-size: cover;
  background-position: center;
  height: 1080px;
  gap: 20px;
}
.bienvenida .logoBienvenida {
  min-width: 100px;
  width: 10vw;
  filter: drop-shadow(-3px -3px -2px rgba 255, 255, 255, 5);
}
.bienvenida h1 {
  color: #ffffff;
  font-family: "Archivo", sans-serif;
}

.containerNavBar {
  display: flex;
  justify-content: space-between;
}
.containerNavBar .navBarLogo {
  font-family: "Archivo", sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
  gap: 2vh;
}
.containerNavBar .navBarLogo img {
  width: 30px;
}
.containerNavBar .navBarItems {
  display: flex;
  justify-content: flex-end;
  color: #ffffff;
}
.containerNavBar .navBarItems .nav-item {
  display: flex;
  flex-direction: row;
  gap: 2vh;
  align-items: center;
  margin: 0vh 2vh;
}

.nav_bar {
  position: sticky; /* permite que la barra de navegación se fije en la parte superior de la página */
  top: 0; /* coloca la barra de navegación en la parte superior de la página */
  background-color: #2c3f46 !important;
  display: flex;
  color: #ffffff;
}

.nav_bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* asegura que la barra de navegación esté en la parte superior de todo */
}

.navItem {
  color: #ffffff !important;
  text-decoration: none;
}

.btnContact {
  text-decoration: none;
  color: #ffffff;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.sectionTitle h2 {
  padding: 4vh;
}

.botonWhatsapp {
  background-color: #25d366;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 1vh;
  padding: 1vh 2vh;
}
.botonWhatsapp .logoWhatsapp {
  width: 15px;
}
.botonWhatsapp a {
  text-decoration: none;
  color: #ffffff;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

#sectionContact {
  width: 75%;
  margin: auto;
  margin-top: 40vh;
  margin-bottom: 40vh;
}
#sectionContact .sectionTitle {
  text-align: center;
}
#sectionContact .contactContainer {
  display: flex;
  justify-content: space-around;
}
#sectionContact .contactContainer .infoContact {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
#sectionContact .contact-form {
  width: 20vh;
}

#quienesSomos {
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#quienesSomos h2 {
  font-family: "Archivo", sans-serif;
}
#quienesSomos .quienesSomosImagen {
  width: 50%;
  margin: 5vh;
}
#quienesSomos .quienesSomosTexto {
  width: 75%;
  margin: 2vh;
}
#quienesSomos .btnContact a {
  text-decoration: none;
  color: #ffffff;
}

#servicios {
  background-color: #2c3f46;
  color: #ffffff;
}
#servicios h2 {
  text-align: center;
  font-family: "Archivo", sans-serif;
}
#servicios .cardServiciosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 2vh;
  margin: auto;
}
#servicios .cardServicios {
  margin-bottom: 6vh;
  background-color: #ffffff;
  color: #000000;
  border-radius: 6px;
}
#servicios .cardServicios .cardHeader {
  margin: auto;
  margin-top: 2vh;
  text-align: center;
}
#servicios .cardServicios .card-body {
  margin: 2vh;
}
#servicios .cardServicios .card-text {
  width: 30vh;
}

.accordion {
  width: 40vw;
  margin: auto;
}

#eleginos .sectionTitle h2 {
  margin: auto;
  text-align: center;
}
#eleginos .porqueContainer {
  display: flex;
  margin-top: 10vh;
}
#eleginos .porqueContainer .porqueCard {
  width: 20vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}
#eleginos .porqueContainer .porqueCard .porqueTitulo {
  border-radius: 100%;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
  width: 10vh;
  height: 10vh;
  text-align: center;
  vertical-align: bottom;
}
#eleginos .porqueContainer .porqueCard .porqueTitulo h1 {
  margin: 0;
  vertical-align: bottom;
}
#eleginos .porqueContainer .porqueCard p {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */