@charset "UTF-8";
footer {
  background-color: #4d4d4d;
  width: 100%;
  margin: 0;
  padding: 0;
}
footer .legalesFooter {
  color: #f2f2f2;
  text-align: center;
  padding: 2vh;
  font-weight: 200;
  font-size: 0.75rem;
  margin-bottom: 0px;
}

.bienvenida {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../img/mariano_moreno.png");
  background-size: cover;
  background-position: center;
  height: 1080px;
  gap: 20px;
}
.bienvenida .logoBienvenida {
  min-width: 100px;
  width: 10vw;
  margin-top: 20vh;
  filter: drop-shadow(-3px -3px -2px rgba 255, 255, 255, 5);
}
.bienvenida h1 {
  color: #f2f2f2;
  font-family: "Archivo", sans-serif;
}

header {
  background-color: darkslategrey;
}

.containerNavBar {
  display: flex;
  justify-content: space-between;
}
.containerNavBar .navBarLogo {
  font-family: "Archivo", sans-serif;
  color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2vh;
}
.containerNavBar .navBarLogo img {
  width: 30px;
}
.containerNavBar .navBarLogo h5 {
  margin: 0px;
}
.containerNavBar .navBarItems .nav-item {
  display: flex;
  flex-direction: row;
  gap: 2vh;
  align-items: center;
  margin: 0vh 2vh;
}

.nav_bar {
  position: sticky; /* permite que la barra de navegación se fije en la parte superior de la página */
  top: 0; /* coloca la barra de navegación en la parte superior de la página */
  background-color: #4d4d4d !important;
  display: flex;
  color: #f2f2f2;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
}

.nav_bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* asegura que la barra de navegación esté en la parte superior de todo */
}

.navItem {
  color: #f2f2f2 !important;
  text-decoration: none;
}

.btnContact {
  text-decoration: none;
  color: #f2f2f2;
}

body {
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.sectionTitle h2 {
  padding: 4vh;
}

.botonWhatsapp {
  background-color: #25d366;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 1vh;
  padding: 1vh 2vh;
}
.botonWhatsapp .logoWhatsapp {
  width: 15px;
}
.botonWhatsapp a {
  text-decoration: none;
  color: #f2f2f2;
}

.imagenIntermedia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../../img/tribunales.jpg");
  background-size: cover;
  background-position: top;
  height: 80vh;
  padding: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagenIntermedia h1 {
  color: #f2f2f2;
  font-family: "Archivo", sans-serif;
  text-align: center;
  font-size: 4rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn-primary {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

#sectionContact {
  margin: auto;
  padding: 5vh;
  margin-bottom: 10vh;
}
#sectionContact .sectionTitle {
  text-align: center;
}
#sectionContact .contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 10vh;
}
#sectionContact .contactContainer span {
  color: red;
  font-weight: 200;
}
#sectionContact .contactContainer .spanTelefono {
  color: #4d4d4d;
  font-weight: 200;
  font-size: smaller;
}
#sectionContact .contactContainer h6 {
  font-weight: 200;
  font-size: small;
}
#sectionContact .contactContainer .infoContact {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  gap: 2vh;
}
#sectionContact .contactContainer .infoContact .infoColumn {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sectionContact .contactContainer .infoContact .infoColumn a {
  text-decoration: none;
}
#sectionContact .contactContainer .infoContact div {
  margin: 2vh;
}
#sectionContact .contactContainer .infoContact .contactMap {
  border: solid 1px #cccccc;
}
#sectionContact .contact-form {
  width: 20vh;
}

.formularioContacto {
  width: 50vh;
}
.formularioContacto .formularioMensaje {
  height: 40vh;
  max-height: 40vh;
  vertical-align: top;
}

#quienesSomos {
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#quienesSomos h2 {
  font-family: "Archivo", sans-serif;
}
#quienesSomos .quienesSomosImagen {
  width: 60vh;
  margin: 5vh;
}
#quienesSomos .quienesSomosTexto {
  width: 50vw;
  margin: 2vh;
}
#quienesSomos .btnContact a {
  text-decoration: none;
  color: #f2f2f2;
}

#servicios {
  background-color: #4d4d4d;
  color: #f2f2f2;
  padding: 4vh;
}
#servicios h2 {
  text-align: center;
  font-family: "Archivo", sans-serif;
}
#servicios .serviciosContainer {
  margin: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#servicios .serviciosContainer .cardServiciosContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 3vh;
  margin: auto;
  margin-bottom: 4vh;
  width: 100%;
}
#servicios .serviciosContainer .cardServiciosContainer .cardServicios {
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 6px;
}
#servicios .serviciosContainer .cardServiciosContainer .cardServicios .cardHeader {
  margin: auto;
  margin-top: 2vh;
  text-align: center;
}
#servicios .serviciosContainer .cardServiciosContainer .cardServicios .cardHeader .serviciosPNG {
  width: 80px;
  margin: 2vh;
}
#servicios .serviciosContainer .cardServiciosContainer .cardServicios .card-body {
  margin: 2vh;
}
#servicios .serviciosContainer .cardServiciosContainer .cardServicios .card-text {
  width: 25vh;
}
#servicios .serviciosContainer .accordion {
  width: 100%;
  margin: auto;
}
#servicios .serviciosContainer .accordion .accordion-button {
  background-color: #f2f2f2;
}

#eleginos {
  background-color: #4d4d4d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}
#eleginos .sectionTitle h2 {
  margin: auto;
  margin-top: 6vh;
  text-align: center;
  color: #f2f2f2;
}
#eleginos .porqueContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 6vh;
  gap: 5vh;
}
#eleginos .porqueContainer .porqueCard {
  width: 35vh;
  padding: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  background-color: #f2f2f2;
  border-radius: 6px;
}
#eleginos .porqueContainer .porqueCard .porqueTitulo {
  width: 10vh;
  height: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#eleginos .porqueContainer .porqueCard .porqueTitulo h1 {
  margin: 0;
  vertical-align: bottom;
  color: #f2f2f2;
}
#eleginos .porqueContainer .porqueCard h2 {
  text-align: center;
}
#eleginos .porqueContainer .porqueCard p {
  text-align: center;
}/*# sourceMappingURL=styles.css.map */