footer {
  background-color: $primaryColor;
  width: 100%;
  margin: 0;
  padding: 0;
  .legalesFooter {
    color: $secondaryColor;
    text-align: center;
    padding: 2vh;
    font-weight: 200;
    font-size: 0.75rem;
    margin-bottom: 0px;
  }
}
