body {
  background-color: $backgroundColor;
  margin: 0;
  padding: 0;
}
.sectionTitle h2 {
  padding: 4vh;
}

.botonWhatsapp {
  background-color: $wspColor;
  border: none;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  gap: 1vh;
  padding: 1vh 2vh;
  .logoWhatsapp {
    width: 15px;
  }
  a {
    text-decoration: none;
    color: $secondaryColor;
  }
}

.imagenIntermedia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../../img/tribunales.jpg");
  background-size: cover;
  background-position: top;
  height: 80vh;
  padding: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $secondaryColor;
    font-family: $font;
    text-align: center;
    font-size: 4rem;
  }
}
