#servicios {
  background-color: $primaryColor;
  color: $secondaryColor;
  padding: 4vh;
  h2 {
    text-align: center;
    font-family: $font;
  }

  .serviciosContainer {
    margin: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .cardServiciosContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      gap: 3vh;
      margin: auto;
      margin-bottom: 4vh;
      width: 100%;
    }

    .accordion {
      width: 100%;
      margin: auto;
      .accordion-button {
        background-color: $backgroundColor;
      }
    }
  }
}

.flip-card {
  background-color: transparent;
  width: 275px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  transition: 1s;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  gap: 1vh;
}

.flip-card-front {
  background-color: $secondaryColor;
  color: $primaryColor;
}

.flip-card-back {
  background-color: $secondaryColor;
  color: $primaryColor;
  transform: rotateY(180deg);
}
.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
